<div class="bs-callout bs-callout-{{styleValue}} vm-dummy-header">
    <div class="row">
        <div class="col-md-7 title-font">
            {{titleValue}}&nbsp;&nbsp;<i class="fa vm-dt-href vm-dummy-trunk8" id="Form_Header_ExpCol_{{controlId}}"></i>
        </div>
        <!--<p>Reconcile and Upload to Open EMR</p>-->
        <div class="col-md-5">
            <div class="pull-right vm-cursor-pointer" ng-click="titleButtonClicked($event)" id="{{controlId}}">
                <i class='{{icon}}'></i>&nbsp; {{textValue}}
            </div>
        </div>
    </div>
</div>
